[Unit]
Description=Check and Update Killing Floor 2 server
After=network-online.target
Requires=network-online.target

[Service]
Type=oneshot

ExecStart=:DEFINE_PREFIX:/bin/kf2-srv-beta --chat '.'
ExecStart=:DEFINE_PREFIX:/bin/kf2-srv-beta --chat 'Server will restart after 30 minutes'
ExecStart=/bin/sleep 15m

ExecStart=:DEFINE_PREFIX:/bin/kf2-srv-beta --chat 'Server will restart after 15 minutes'
ExecStart=/bin/sleep 10m

ExecStart=:DEFINE_PREFIX:/bin/kf2-srv-beta --chat 'Server will restart after 5 minutes'
ExecStart=/bin/sleep 5m

ExecStart=:DEFINE_PREFIX:/bin/kf2-srv-beta --chat 'Server shutting down...'
ExecStart=/bin/sleep 5s

ExecStart=:DEFINE_PREFIX:/bin/kf2-srv-beta --update

PrivateTmp=true
PrivateDevices=true
ProtectHome=false
ProtectSystem=false

[Install]
WantedBy=multi-user.target
