[Unit]
Description=Check and Update killing Floor 2 job

[Timer]
OnCalendar=Wed, 03:30
Unit=kf2-srv-update.service

[Install]
WantedBy=multi-user.target
