[Unit]
Description=kf2-srv force attr service

[Service]
Type=simple
StandardOutput=null
StandardError=null
ExecStart=/usr/sbin/kf2-srv-force-attr
Restart=always

NoNewPrivileges=yes
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=true

[Install]
WantedBy=multi-user.target
